# /etc/systemd/system/trolley-scanner.service
[Unit]
Description=Barcode Scanner Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/trolley-pi
# before starting, grab the latest code
ExecStartPre=/usr/bin/git pull origin main
# then launch—either bare python or docker-compose
ExecStart=export USE_MOCK=0 && PYTHONPATH=. /usr/bin/python3 src/main.py
# ExecStart=/usr/bin/docker-compose up
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
